<div style="background-image:url('./assests/images/backimg.png'); background-repeat:no-repeat; background-size: cover; height:100vh; margin-top:-20px;">
<div class="row">

        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <img id="activityHolder" src="./assests/images/placeholder_activity.png" alt="image">
                    <div>
                        <div class="col-md-6">
                            <img id="circle_giff" src="./assests/images/sixcircle.PNG" alt=""><br><br>
                            <p id="para2">Rules for Scoring</p>
                        </div>
                        <div class="col-md-6">

                            <img id="circle_star" src="./assests/images/GAMEOVER.png" alt=""><br><br>
                            <p id="para4">Rules for Game to be Over</p>
                        </div>
                        <img id="Holder" src="./assests/images/scoringrules.png" alt="image">
                    </div>
                </div>
                <div class="row">
                    <button id="previous_button" type="button" name="button" ui-sref="chartypes">BACK</button>
                    <button id="Next_button" type="button" name="button" ui-sref="algorithm">NEXT</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <img id="speechBubblechat" src="./assests/images/chatDrag.png" alt=""></div>
                <div class="row"><img id="giffimg" src="./assests/images/giraffe.png" alt="image"></div>
            </div>

        </div>
        </div>
