<div style="background-image:url('./assests/images/backimg.png'); background-repeat:no-repeat; background-size: cover; height:100vh; margin-top:-20px;">
<div class="row">

      </div>
      <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-6" >
              <div class="row">
                  <img id="activityHolder" src="./assests/images/placeholder_activity.png" alt="image">
                  <div>
                      <div class="col-md-6">
                          <p id="para1">Player controlled characters</p>
                          <img id="circle_giff" src="./assests/images/circlegiff.PNG" alt="">
                          <p id="para2">This characters can be<br>controlled by the player</p>
                      </div>
                      <div class="col-md-6">
                          <p id="para3">uncontrollable Characters</p>
                          <img id="circle_star" src="./assests/images/circle.png" alt=""><br>
                          <p id="para4">The player has<br> no control over these</p>
                      </div>
                      <img id="Holder" src="./assests/images/characterHolder.png" alt="image">
                  </div>
              </div>
              <div class="row">
                  <button id="previous_button" type="button" name="button" ui-sref="selectingCharacter">BACK</button>
                  <button id="Next_button" type="button" name="button" ui-sref="chartypesCont">NEXT</button>
              </div>
          </div>
          <div class="col-md-3">
              <div class="row">
                  <img id="speechBubblechat" src="./assests/images/chatDrag.png" alt=""></div>
              <div class="row"><img id="giffimg" src="./assests/images/giraffe.png" alt="image"></div>
          </div>

      </div>
      </div>
