<div class="row" id="mainRow" style="background-image:url('./assests/images/lion_bg.png'); ">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:100%; "></div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" style=" height:100%;">

  <div class="col-lg-6"><img id="danceVideo"  src="./assests/images/dancing_lion_1.gif" style="display:none;"></img></div>
<div class="col-lg-6"><img id="lionImg" class="movingLion" src="./assests/images/lion_mascot.png" alt="lion" /><div class="col-lg-6">

            </div>
        </div>
      </div>
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" height:100%;">
            <div class="row" id="rowforChat" style="display:none;"><img id="chat" src="./assests/images/chat_dancinganimals.png" alt="chat_dancinganimals" /></div>
            <!-- <div class="row" id="rowforLion"> <img id="lionImg" src="./assests/images/lion_mascot.png" alt="lion" /></div> -->
        </div>


        <button id="back_button" style=" display:none;" type="button" name="button" ui-sref="learndance">BACK</button>
        <button id="next_button" style=" display:none;" type="button" name="button" ui-sref="flipbook">NEXT</button>

</div>
